body{background-image: url(https://wallpapercave.com/wp/wp9637250.jpg);
background-position: fill;
background-repeat: no-repeat;
background-size:cover;
}

main{
    background-image: url(https://i.pinimg.com/736x/c4/6d/b4/c46db43fbd5cdbe8a6b11a69b65940e4.jpg);
    background-position: top;
    background-repeat: no-repeat;
    border: 1px solid rgba(170, 5, 132, 0.749);
    box-shadow: 0 0 10rem rgb(249, 7, 192);
    position: relative;
    top: 5rem;
    left: 28rem;
    width: 25rem;
    height: 25rem;
    animation: shine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
form{
    color: white;
    top: 20%;
    left: 20%;
    position: relative;
    width: 100%;
}
label{
    font-family: cursive;
    font-size: 1rem;
}
button{
    width: 20em;
    
}
input{
    width: 15em;
}
.info{
    position: relative;
    top: 25%;
    left: 20%;
    
    width: 150px;
}

a{
    color: red;
    text-decoration: none;

}

@keyframes shine{
    0%{box-shadow: 0rem 0px 5rem rgba(21, 167, 251); background-color: rgba(13, 159, 243, 0.308);}
    25%{box-shadow: 0px 0rem 5rem rgba(249, 7, 192); background-color: rgba(13, 159, 243, 0.308);}
    50%{box-shadow: 0rem 0px 5rem 0rem rgba(21, 167, 251); background-color: rgba(13, 159, 243, 0.308);}
    75%{box-shadow: 0px 0rem 5rem rgba(249, 7, 192); background-color: rgba(13, 159, 243, 0.308);}
    100%{box-shadow: 0rem 0px 5rem rgba(21, 167, 251); background-color: rgba(13, 159, 243, 0.308);}}